<app-header></app-header>

<!-- Début de la Validation -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Adresse de Facturation</h4>
                <form [formGroup]="transportForm">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Nom</label>
                            <input class="form-control" type="text" placeholder="Nom">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Prénom</label>
                            <input class="form-control" type="text" placeholder="Prénom">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="exemple@exemple.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>N° Tél</label>
                            <input class="form-control" type="text" placeholder="Tél">
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Adresse</label>
                            <input class="form-control" type="text" formControlName="adresse" placeholder="Adresse">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Pays</label>
                            <select formControlName="ville" class="custom-select">
                                <option value="Tunis" selected>Tunis</option>
                                <option value="Ariana">Ariana</option>
                                <option value="Manouba">Manouba</option>
                                <option value="Ben Arous">Ben Arous</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Code postal</label>
                            <input formControlName="zipCode" class="form-control" type="text" placeholder="123">
                        </div>
                    </div>
                </form>
            </div>


        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Total de la commande</h4>
                </div>
                <div class="card-body">
                    <h5 class="font-weight-medium mb-3">Produits</h5>
                    <div *ngFor="let item of cartItems" class="d-flex justify-content-between">
                        <p>{{item.product.name}}</p>
                        <p>${{item.product.prix*item.quantity}}</p>
                    </div>

                    <hr class="mt-0">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Total</h6>
                        <h6 class="font-weight-medium">${{total}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Réduction</h6>
                        <h6 class="font-weight-medium">${{reduction}}</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total à Payer</h5>
                        <h5 class="font-weight-bold">${{total-reduction}}</h5>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Paiement</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" [(ngModel)]="selectedPaymentMethod"
                                    value="directcheck" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" [(ngModel)]="selectedPaymentMethod"
                                    value="visa" name="payment" id="visa">
                                <label class="custom-control-label" for="visa">Carte visa</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <button (click)="passerCmd()"
                        class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Passer la commande</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin de la Validation -->