   <!-- Categories Start -->
   <div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-4 col-md-6 pb-1" *ngFor="let element of listofCategory">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">{{element.nbProduct}} Produits</p>
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" [src]="'data:image/png;base64,'+element.image" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">{{element.name}}</h5>
            </div>
        </div>
    </div>
 </div>
