
    <div class="row">
        <div *ngFor="let item of listofproducts" class="col-3">
            <div class="container page-wrapper">
                <div class="page-inner">
                  <div class="row">
                    <div class="el-wrapper">
                      <div class="box-up">
                        <img class="img" width="200px" [src]="'data:image/png;base64,'+item.image" alt="">
                        <div class="img-info">
                          <div class="info-inner">
                            <span class="p-name">{{item.name}}</span>
                            <span class="p-company">{{item.type}}</span>
                          </div>
                          <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                        </div>
                      </div>
              
                      <div class="box-down">
                        <div class="h-bg">
                          <div class="h-bg-inner"></div>
                        </div>
              
                        <a class="cart">
                          <span class="price">{{item.prix | currency : 'USD'}}</span>
                          <span class="add-to-cart">
                            <span class="txt"><i style="color: white;" (click)="deleteproduct(item.idProduct)" title="Delete" class="fa fa-trash fa-2x" aria-hidden="true"></i> <i style="margin-left: 50px;" title="Update" (click)="updateproduct(item.idProduct)" class="fa fa-wrench fa-2x" aria-hidden="true"></i></span>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
