<app-header></app-header>


<!-- Shop Detail Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">MOBILE ET INTERNET</span></h2>
    </div>
    <br>
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4" *ngFor="let m of pMobiles">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" [src]="'data:image/png;base64,'+m.image" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h3 class="font-weight-semi-bold mb-4">{{m.prix}}</h3>
                    <p class="mb-4"> {{m.description}}<br><br><br><br></p>

                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <!-- <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a> -->
                    <a href="" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                </div>
            </div>
        </div>

    </div>
</div>