<app-header></app-header>

<!-- Détails du Produit -->
<div class="container-fluid py-5">
    <div class="row px-xl-5" *ngFor="let p of products">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">SMARTPHONES</span></h2>
        </div>
        <br><br><br>

        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" [src]="'data:image/png;base64,'+p.image" alt="Image">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">{{p.name}}</h3>
            <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
                <small class="pt-1">(50 Avis)</small>
            </div>
            <h3 class="font-weight-semi-bold mb-4">{{p.prix}} TND</h3>
            <p class="mb-4">{{p.description}}</p>
        </div>

        <div class="d-flex align-items-center mb-4 pt-2">
            <button (click)="addToCarte(p)" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Ajouter au Panier</button>
        </div>

    </div>
</div>
